
{% extends "layouts/main.html" %}
 
{% block beforeContent %}


 {{ govukPhaseBanner({ 
    tag: { 
        text: "Alpha" }, 
        html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
     }) }}  

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 
     <form class="form" action="assurance-details" method="post">
 <span class="govuk-caption-l">Case 01234567</span>
<h1 class="govuk-heading-l">Assurance overview</h1>

 
   <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
     <strong class="govuk-tag govuk-tag--green">New</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     NINO
    </dt>
    <dd class="govuk-summary-list__value">
      LH XX XX XX D
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Due</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Due date
    </dt>
    <dd class="govuk-summary-list__value">
       20 November 2024
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
    </dd>
  </div>
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Check type
    </dt>
    <dd class="govuk-summary-list__value">
       New claim
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Check ID
    </dt>
    <dd class="govuk-summary-list__value">
      01234567
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Checking period
    </dt>
    <dd class="govuk-summary-list__value">
       1 June 2025 - 8 June 2025
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Sample period
    </dt>
    <dd class="govuk-summary-list__value">
      11 June 2025 - 18 June 2025
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Review period
    </dt>
    <dd class="govuk-summary-list__value">
     12 July 2025 - 19 July 2025
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> contact details</span></a>
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
        </li>
      </ul>
    </dd>
  </div>
</dl>
   

<div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Check case details
  </button>
  <a class="govuk-link" href="#">Deselect case</a>
</div>

 <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View case history
    </span>
  </summary>
  <div class="govuk-details__text">
    <h2 class="govuk-heading-m">Events</h2>
<div class="dwp-timeline">
  <ol class="dwp-timeline__items">
    <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">16 June 2024 at 1:00am</p>
      <h2 class="dwp-timeline__heading">Error recorded</h2>
      <p class="dwp-timeline__by-line">by System</p>
    </li>
    <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">1 June 2024 at 7:14am</p>
      <h2 class="dwp-timeline__heading">Error notified</h2>
      <p class="dwp-timeline__by-line">by John Doe</p>
    </li>
    <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">15 May 2024 at 4:01pm</p>
      <h2 class="dwp-timeline__heading">Error Action</h2>
      <p class="dwp-timeline__by-line">by John Goldsmith</p>
      <a href="#" class="dwp-timeline__link">View details<span class="govuk-visually-hidden"> of the event on 15 May 2024 at 4:01pm</span></a>
    </li>
 
      
 
   
  </ol>
</div>  </div>
</details>
    </form>
  </div> 
</div> 

{% endblock %}
