
{% extends "layouts/main.html" %}
 
{% block beforeContent %}


 {{ govukPhaseBanner({ 
    tag: { 
        text: "Alpha" }, 
        html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
     }) }}  

 <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="select-assurance">My assurances</a>
    </li>
   
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Overview</a>
    </li>
  </ol>
</nav>

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"> 
     <form class="form" action="assurance-details" method="post">
 <span class="govuk-caption-l">ID 1234567</span>
<h1 class="govuk-heading-l">Assurance overview</h1>

 
   <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
     <strong class="govuk-tag govuk-tag--green">New</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     NINO
    </dt>
    <dd class="govuk-summary-list__value">
      LH XX XX XX D
    </dd>
    <dd class="govuk-summary-list__actions">
     
    </dd>
  </div>
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Assurance type
    </dt>
    <dd class="govuk-summary-list__value">
       New claim
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Assurance period
    </dt>
    <dd class="govuk-summary-list__value">
       1 June 2025 - 8 June 2025
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> assurance period</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Sample period
    </dt>
    <dd class="govuk-summary-list__value">
      11 June 2025 - 18 June 2025
    </dd>
    <dd class="govuk-summary-list__actions">
       <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> assurance period</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Employee ID
    </dt>
    <dd class="govuk-summary-list__value">
     1234567890
    </dd>
    <dd class="govuk-summary-list__actions">
    
    </dd>
     
  </div>
 <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Adjudicated date
    </dt>
    <dd class="govuk-summary-list__value">
      11 June 2025
    </dd>
    <dd class="govuk-summary-list__actions">
    
    </dd>
  </div>
</dl>
   

<div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Check details
  </button>
  <a class="govuk-link" href="#">Deselect case</a>
</div>

 <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View case history
    </span>
  </summary>
  <div class="govuk-details__text">
    <h2 class="govuk-heading-m">Events</h2>
<div class="dwp-timeline">
  <ol class="dwp-timeline__items">
    <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">16 June 2024 at 1:00am</p>
      <h2 class="dwp-timeline__heading">Error recorded</h2>
      <p class="dwp-timeline__by-line">by System</p>
    </li>
    <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">1 June 2024 at 7:14am</p>
      <h2 class="dwp-timeline__heading">Error notified</h2>
      <p class="dwp-timeline__by-line">by John Doe</p>
    </li>
    <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">15 May 2024 at 4:01pm</p>
      <h2 class="dwp-timeline__heading">Error Action</h2>
      <p class="dwp-timeline__by-line">by John Goldsmith</p>
      <a href="#" class="dwp-timeline__link">View details<span class="govuk-visually-hidden"> of the event on 15 May 2024 at 4:01pm</span></a>
    </li>

  </ol>
</div>  </div>
</details>
    </form>
  </div> 
</div> 

{% endblock %}
