
{% extends "layouts/main.html" %}
 
{% block beforeContent %}


 {{ govukPhaseBanner({ 
    tag: { 
        text: "Alpha" }, 
        html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
     }) }}  
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="select-assurance">My assurances</a>
    </li>
   
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="assurance-overview">Overview</a>
    </li>
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="assurance-details-complete">Details</a>
    </li>
      <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="assurance-questions-complete">Sections</a>
    </li>
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Summary</a>
    </li>
  </ol>
</nav>

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"> 
     <form class="form" action="check-complete" method="post">
 <span class="govuk-caption-l">ID 1234567</span>
<h1 class="govuk-heading-l">Save completed check</h1>

  <table class="govuk-table">
 

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">BF /Completion status
 </th>
      <td class="govuk-table__cell"> 
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text" value="Complete check">
           </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Current outcome</th>
      <td class="govuk-table__cell"><input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text" value="DWP Detriment"></td>
      </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Business event outcome</th>
       <td class="govuk-table__cell"><input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text" value="DWP Detriment"></td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Reporting period</th>
       <td class="govuk-table__cell"><input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text" value="March - 2025 CP12 (24/25)"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Check ID</th>
       <td class="govuk-table__cell"><input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text" value="Pending"></td>
    </tr>
    
    
  </tbody>
</table>
 

<div class="govuk-button-group">
<button type="submit"  class="govuk-button" data-module="govuk-button">Save</button>
 
</div>

 
    </form>
  </div> 
</div> 

{% endblock %}
