
{% extends "layouts/main.html" %}
 
{% block header %}
{{
    dwpHeader({
        serviceName: serviceName,
        serviceHref: "/",
        container: true
    })
}}

{% endblock %}
{% block beforeContent %}


 {{ govukPhaseBanner({ 
    tag: { 
        text: "Alpha" }, 
        html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
     }) }}  

     <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="select-assurance">My assurances</a>
    </li>
   
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">ID 1234567</a>
    </li>
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Overview</a>
    </li>
  </ol>
</nav>

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third"> 

  <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
  data-target="dwp-side-navigation-panel"
  data-label-hide="Hide navigation"
  data-label-show="Show navigation"
  aria-expanded="false">
  <span class="dwp-side-navigation__section-toggle-focus">
    <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
    <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
  </span>
</button>
<nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile" aria-label="Side" role="navigation">
  <ul class="dwp-side-navigation__list">
    <li class="dwp-side-navigation__item ">
      <a id="s-item-1" href="general-details" class="dwp-side-navigation__link" >
       General details
      </a>
    </li>
    <li class="dwp-side-navigation__item  dwp-side-navigation__item--selected" aria-current="true">
      <a id="s-item-2" href="customer-details" class="dwp-side-navigation__link">
       Customer details
      </a>
    </li>
    <li class="dwp-side-navigation__item">
      <a id="s-item-3" href="sample-details" class="dwp-side-navigation__link">
        Sample details
      </a>
    </li>
    <li class="dwp-side-navigation__item">
      <a id="s-item-4" href="award-sample-week" class="dwp-side-navigation__link">
        Award and sample week
      </a>
    </li>
    <li class="dwp-side-navigation__item">
      <a id="s-item-5" href="sections" class="dwp-side-navigation__link">
        Sections
      </a>
    </li>
  </ul>
</nav>
  </div>
  <div class="govuk-grid-column-two-thirds"> 

    

     <form class="form" action="sample-details" method="post">
 <span class="govuk-caption-l">ID 1234567</span>
<h1 class="govuk-heading-l">Customer details</h1>

 <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    <b> Assurance special categorisation</b>
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">Not applicable</option>
    <option value="updated" selected>Recently updated</option>
    <option value="views">Most views</option>
    <option value="comments">Most comments</option>
  </select>
</div>
   
 


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Select identifier</legend>
  
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          NINO
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            National Insurance number
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          CRF
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
           Customer reference number
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
        </div>
      </div>
     
    </div>
  </fieldset>

 


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="partner-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Is there a partner?</legend>
  
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="partner" name="partner" type="radio" value="email" data-aria-controls="conditional-partner">
        <label class="govuk-label govuk-radios__label" for="partner">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-partner">
        
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="partner-2" name="partner" type="radio" value="phone" data-aria-controls="conditional-partner-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-partner-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="first-name">
           First name
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="first-name" name="name" type="first-name" >
           <label class="govuk-label" for="first-name">
           Last name
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="first-name" name="name" type="last-name" >
            <label class="govuk-label" for="first-name">
           Partner's NINO
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="first-name" name="name" type="last-name" >
        </div>
      </div>
     
    </div>
  </fieldset>

 
 
<br clear="all">



  <button type="submit" class="govuk-button" data-module="govuk-button" >Save and continue</button>


  
    </form>
  </div> 
</div> 

{% endblock %}
