
{% extends "layouts/main.html" %}
 
{% block header %}
{{
    dwpHeader({
        serviceName: serviceName,
        serviceHref: "/",
        container: true
    })
}}

{% endblock %}
{% block beforeContent %}


 {{ govukPhaseBanner({ 
    tag: { 
        text: "Alpha" }, 
        html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
     }) }}  



{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third"> 

  <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
  data-target="dwp-side-navigation-panel"
  data-label-hide="Hide navigation"
  data-label-show="Show navigation"
  aria-expanded="false">
  <span class="dwp-side-navigation__section-toggle-focus">
    <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
    <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
  </span>
</button>

  </div>
  <div class="govuk-grid-column-full"> 

    

     <form class="form" action="error-saved" method="post">
 <span class="govuk-caption-l">ID 1234567</span>
<h1 class="govuk-heading-l">Record error details</h1>

 <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    <b> Has the customer's identity been correctly established and verified?</b>
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">Not applicable</option>
    <option value="updated" selected>Process error</option>
    <option value="views">Most views</option>
    <option value="comments">Most comments</option>
  </select>
</div>
    
 <div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#contributors">
       Contributors
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#reason">
        Reason
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#overpayment">
        Overpayment
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#potential">
        Potential
      </a>
    </li>
     <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#more-info">
        More info
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#links">
        Links
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="contributors">
     <h2 class="govuk-heading-l">Contributors</h2>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Telephony office
        </label>
      </div>

          </td>
          <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          People
        </label>
      </div> 
          </td>
          <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Policy Instruction
        </label>
      </div> 

          </td>
          </td>
          <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          System
        </label>
      </div> 
          </td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Telephony office
        </label>
      </div>

          </td>
          <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          People
        </label>
      </div> 
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Policy Instruction
        </label>
      </div> 

          </td>
          </td>
          <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          System
        </label>
      </div> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reason">
    <h2 class="govuk-heading-l">Reason</h2>
    <table class="govuk-table">
       
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          1793 Identity not established or incorrect
        </label>
      </div> 
    </td>    
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
         1794 Identity verified incorrectly
        </label>
      </div> 
          </td>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          1795 Fraud check missed or incorrect
        </label>
      </div> 
          </td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
        1796 Unable to view document
        </label>
      </div> 
          </td>
        </tr>  
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
         1797 Alternative methods of verification not used or incorrect
        </label>
      </div> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="overpayment">
    <h2 class="govuk-heading-l">Overpayment</h2>
       <table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Inside sample
 </th>
      <td class="govuk-table__cell"> 
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text" value=" ">
           </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Changed MVE</th>
      <td class="govuk-table__cell"><input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text" value=" "></td>
      </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Weekly error amount</th>
       <td class="govuk-table__cell"><input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text" value=" "></td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total error amount</th>
       <td class="govuk-table__cell"><input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text" value=" "></td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">MVE Categorisation</th>
       <td class="govuk-table__cell"> <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Monetary
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          Entitlement
        </label>
      </div>
    </div></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Overpayment start date</th>
       <td class="govuk-table__cell">  <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
      
       </td>
    </tr> 
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Overpayment end date</th>
       <td class="govuk-table__cell">  <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
      
       </td>
    </tr> 
  </tbody>
</table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="potential">
    <h2 class="govuk-heading-l">Potential</h2>
     <p class="govuk-body">Dummy data here</p> 
  </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="more-info">
    <h2 class="govuk-heading-l">More Info</h2>
       <div class="govuk-form-group">
  <label class="govuk-label" for="more-detail">
    Additional information for feedback template
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>
 </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="links">
    <h2 class="govuk-heading-l">Links</h2>
    
    <table class="govuk-table">
        <tr>
          <td class="govuk-table__cell">Link 1</td>
          <td><input class="govuk-input govuk-input--width-20" id="width-10" name="width10" type="text"></td>
        </tr>
         <tr>
          <td class="govuk-table__cell">Link 2</td>
          <td><input class="govuk-input govuk-input--width-20" id="width-10" name="width10" type="text"></td>
        </tr>
        <tr>
          <td class="govuk-table__cell">Link 3</td>
          <td><input class="govuk-input govuk-input--width-20" id="width-10" name="width10" type="text"></td>
        </tr>
        <tr>
          <td class="govuk-table__cell">Link 4</td>
          <td><input class="govuk-input govuk-input--width-20" id="width-10" name="width10" type="text"></td>
        </tr>
        <tr>
          <td class="govuk-table__cell">Link 5</td>
          <td><input class="govuk-input govuk-input--width-20" id="width-10" name="width10" type="text"></td>
        </tr>
    </table>
  </div>
</div>


      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Corrective action complete
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Uncorrectable error?
        </label>
      </div>
 <br clear="all">
  <button type="submit" class="govuk-button" data-module="govuk-button" >Save and continue</button>
<button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
  Delete error
</button>

  
    </form>
  </div> 
</div> 

{% endblock %}
