
{% extends "layouts/main.html" %}
 
{% block header %}
{{
    dwpHeader({
        serviceName: serviceName,
        serviceHref: "/",
        container: true
    })
}}

{% endblock %}
{% block beforeContent %}


 {{ govukPhaseBanner({ 
    tag: { 
        text: "Alpha" }, 
        html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
     }) }}  



{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third"> 

  <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
  data-target="dwp-side-navigation-panel"
  data-label-hide="Hide navigation"
  data-label-show="Show navigation"
  aria-expanded="false">
  <span class="dwp-side-navigation__section-toggle-focus">
    <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
    <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
  </span>
</button>

  </div>
  <div class="govuk-grid-column-full"> 

    

     <form class="form" action="error-saved" method="post">
 <span class="govuk-caption-l">ID 1234567</span>
<h1 class="govuk-heading-l">Record error details</h1>

 <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    <b> Has the customer's identity been correctly established and verified?</b>
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">Not applicable</option>
    <option value="updated" selected>Process error</option>
    <option value="views">Most views</option>
    <option value="comments">Most comments</option>
  </select>
</div>
    
 <div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
       Contributors
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Reason
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Overpayment
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Potential
      </a>
    </li>
     <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        More info
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Links
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
     <h2 class="govuk-heading-l">Contributors</h2>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Telephony office
        </label>
      </div>

          </td>
          <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          People
        </label>
      </div> 
          </td>
          <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Policy Instruction
        </label>
      </div> 

          </td>
          </td>
          <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          System
        </label>
      </div> 
          </td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Telephony office
        </label>
      </div>

          </td>
          <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          People
        </label>
      </div> 
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Policy Instruction
        </label>
      </div> 

          </td>
          </td>
          <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          System
        </label>
      </div> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Reason</h2>
    <table class="govuk-table">
       
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          1793 Identity not established or incorrect
        </label>
      </div> 
    </td>    
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          1793 Identity not established or incorrect
        </label>
      </div> 
          </td>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          1793 Identity not established or incorrect
        </label>
      </div> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-l">Overpayment</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Reason</th>
          <th scope="col" class="govuk-table__header">Overpayment</th>
          <th scope="col" class="govuk-table__header">Potential</th>
          <th scope="col" class="govuk-table__header">More info</th>
          <th scope="col" class="govuk-table__header">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">98</td>
          <td class="govuk-table__cell">95</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">122</td>
          <td class="govuk-table__cell">131</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">126</td>
          <td class="govuk-table__cell">142</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    <h2 class="govuk-heading-l">Potential</h2>
    <table class="govuk-table">
      
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">1380</td>
          <td class="govuk-table__cell">1472</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">1129</td>
          <td class="govuk-table__cell">1083</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">1539</td>
          <td class="govuk-table__cell">1265</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Corrective action complete
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Uncorrectable error?
        </label>
      </div>
 <br clear="all">
  <button type="submit" class="govuk-button" data-module="govuk-button" >Save and continue</button>
<button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
  Delete error
</button>

  
    </form>
  </div> 
</div> 

{% endblock %}
