
{% extends "layouts/main.html" %}
 
{% block header %}
{{
    dwpHeader({
        serviceName: serviceName,
        serviceHref: "/",
        container: true
    })
}}

{% endblock %}
{% block beforeContent %}


 {{ govukPhaseBanner({ 
    tag: { 
        text: "Alpha" }, 
        html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
     }) }}  

     <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="select-assurance">My assurances</a>
    </li>
   
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="assurance-overview">ID 1234567</a>
    </li>
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="assurance-details">Overview</a>
    </li>
  </ol>
</nav>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third"> 

  <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
  data-target="dwp-side-navigation-panel"
  data-label-hide="Hide navigation"
  data-label-show="Show navigation"
  aria-expanded="false">
  <span class="dwp-side-navigation__section-toggle-focus">
    <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
    <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
  </span>
</button>
<nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile" aria-label="Side" role="navigation">
  <ul class="dwp-side-navigation__list">
    <li class="dwp-side-navigation__item ">
      <a id="s-item-1" href="general-details" class="dwp-side-navigation__link" >
       General details
      </a>
    </li>
    <li class="dwp-side-navigation__item">
      <a id="s-item-2" href="customer-details" class="dwp-side-navigation__link">
       Customer details
      </a>
    </li>
    <li class="dwp-side-navigation__item">
      <a id="s-item-3" href="sample-details" class="dwp-side-navigation__link">
        Sample details
      </a>
    </li>
    <li class="dwp-side-navigation__item">
      <a id="s-item-4" href="award-sample-week" class="dwp-side-navigation__link">
        Award and sample week
      </a>
    </li>
    <li class="dwp-side-navigation__item dwp-side-navigation__item--selected" aria-current="true">
      <a id="s-item-5" href="sections" class="dwp-side-navigation__link">
        Sections
      </a>
    </li>
  </ul>
</nav>
  </div>
  <div class="govuk-grid-column-two-thirds"> 

     <form class="form" action="assurance-details-complete" method="post">
 <span class="govuk-caption-l">ID 1234567</span>
<h1 class="govuk-heading-l">Select assurance sections</h1>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Mandatory
      </h1>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc"  checked>
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
         Security and Identity Verificiation for DWP 
        </label>
      </div>
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"> 
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal"  checked>
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
         Housing cost 
        </label>
      </div>
    </div>
  </fieldset>
</div> 
 
 
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Non mandatory
      </h1>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
         Personal details
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Claim date and eligibility
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
          Contributions, conditions and tax
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          Medical details
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          Linking
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          Other benefits
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          Premium and extra amounts
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          Employment, self employment and earnings
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          Non-state pension
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          Special rules / end of life
        </label>
      </div>
    </div>
  </fieldset>
</div> 
 


<br clear="all">



  <button type="submit" class="govuk-button" data-module="govuk-button" >Save and continue</button>


  
    </form>
  </div> 
</div> 

{% endblock %}
