
{% extends "layouts/main.html" %}

 
{% block beforeContent %}


 {{ govukPhaseBanner({ 
    tag: { 
        text: "Alpha" }, 
        html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
     }) }} 
   

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"> 
   
    
 <span class="govuk-caption-l">Jane Doe</span>
<h1 class="govuk-heading-l">My assurances (13)</h1>

 
 <p class="govuk-body">The following cases are ready for review</p>
<br clear="all">
 
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case ID</th>
          <th scope="col" class="govuk-table__header">Assurance type</th>
          <th scope="col" class="govuk-table__header">Case type</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assurance-overview">01234567</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">Outstanding</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">New</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assurance-overview"">01234568</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">Outstanding</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></td>
        </tr>
       <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assurance-overview"">01234569</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">Outstanding</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Feedback sent</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assurance-overview"">01234570</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">Outstanding</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Potential error</strong></td>
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assurance-overview">01234571</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">Outstanding</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Disputes</strong></td>   
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assurance-overview"">01234572</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">Outstanding</td>
           <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">New</strong></td>
        </tr>
       <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assurance-overview"">01234573</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">Outstanding</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assurance-overview"">01234574</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">Completed</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Complete</strong></td>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assurance-overview">01234575</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">Completed</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Complete</strong></td>
        </tr>
      </tbody>
    </table>
  
     <h2 class="govuk-heading-m">My assurances (19)</h2>
      <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case ID</th>
          <th scope="col" class="govuk-table__header">Assurance type</th>
          <th scope="col" class="govuk-table__header">Case type</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234548</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">Outstanding</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Reminder sent</strong></td>
        </tr>
       <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234549</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">Outstanding</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Escalated to QCB</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234550</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">Outstanding</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Overdue</strong></td>
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assurance-overview">01234551</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">Outstanding</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Rework complete</strong></td>   
        </tr>

      </tbody>
    </table>
    
    <!-- <button type="submit" class="govuk-button" data-module="govuk-button">New outstanding assurance</button> -->

  </div> 
</div> 

{% endblock %}
