
{% extends "layouts/main.html" %}

 
{% block beforeContent %}


 {{ govukPhaseBanner({ 
    tag: { 
        text: "Alpha" }, 
        html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
     }) }} 
   

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"> 
   
    
 <span class="govuk-caption-l">Jane Doe</span>
<h1 class="govuk-heading-l">My assurances (12)</h1>

 
 <p class="govuk-body">The following are ready for review</p>
<br clear="all">
 
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#main-check">
        Outstanding assurances
      </a>
    </li>
     <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#rework">
       Rework
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#peer-to-peer">
        Peer to peer
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#callibration">
        Callibration
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#completed">
        Completed
      </a>
    </li>
    
  </ul>
  <div class="govuk-tabs__panel" id="main-check">
     
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case ID</th>
          <th scope="col" class="govuk-table__header">Check type</th>
          <th scope="col" class="govuk-table__header">Due date</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assurance-overview">01234567</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">20 November 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">New</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234568</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">5 December 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></td>
        </tr>
       <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234569</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">7 December 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Disputes</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234570</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">13 December 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Potential errors</strong></td>
        </tr>
      </tbody>
    </table>

     <button type="submit" class="govuk-button" data-module="govuk-button">New outstanding assurance</button> 
  </div>
  
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="rework">
   
   <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case ID</th>
          <th scope="col" class="govuk-table__header">Check type</th>
          <th scope="col" class="govuk-table__header">Due date</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234591</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">26 November 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Feedback sent</strong></td>
        </tr>
       <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234592</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">27 November 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Overdue</strong></td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234593</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">28 November 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Reminder sent</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234594</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">29 November 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Escalated</strong></td>
        </tr>
       <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234598</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">29 November 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Escalated x2</strong></td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234599</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">30 November 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Escalated to QGB</strong></td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234590</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">5 December 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Rework complete</strong></td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="govuk-button" data-module="govuk-button">New rework</button> 
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="peer-to-peer">
   
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case ID</th>
          <th scope="col" class="govuk-table__header">Check type</th>
          <th scope="col" class="govuk-table__header">Due date</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234520</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">22 November 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">New</strong></td>
        </tr>
      </tbody>
    </table>
     <button type="submit" class="govuk-button" data-module="govuk-button">New peer to peer assurance</button> 
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="callibration">
  
   <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case ID</th>
          <th scope="col" class="govuk-table__header">Check type</th>
          <th scope="col" class="govuk-table__header">Due date</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234582</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">11 December 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></td>
        </tr>
      </tbody>
    </table>
     <button type="submit" class="govuk-button" data-module="govuk-button">New callibration assurance</button> 
  </div>
  
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="completed">
   
   <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case ID</th>
          <th scope="col" class="govuk-table__header">Check type</th>
          <th scope="col" class="govuk-table__header">Due date</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234590</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">25 November 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Complete</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
 
</div> 
    
  </div> 
</div> 

{% endblock %}
