{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit

  
{% endblock %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"> 
    
 <span class="govuk-caption-l">Jane Doe</span>
<h1 class="govuk-heading-l">My cases (12)</h1>

 
 <p class="govuk-body">The following cases are ready for review.</p>
<br clear="all">
 
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#main-check">
        Main check
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#peer-to-peer">
        Peer to peer
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#callibration">
        Callibration
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#rework">
        Rework
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="main-check">
     
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case ID</th>
          <th scope="col" class="govuk-table__header">Check type</th>
          <th scope="col" class="govuk-table__header">Due date</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234567</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">20 November 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Brought forward</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234568</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">5 December 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Potential errors</strong></td>
        </tr>
       <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234569</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">7 December 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Potential errors</strong></td>
        </tr>
      </tbody>
    </table>

     <button type="submit" class="govuk-button" data-module="govuk-button">New main check</button> 
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="peer-to-peer">
   
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case ID</th>
          <th scope="col" class="govuk-table__header">Check type</th>
          <th scope="col" class="govuk-table__header">Due date</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234567</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">20 November 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Brought forward</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234568</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">5 December 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Potential errors</strong></td>
        </tr>
       <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234569</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">7 December 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Potential errors</strong></td>
        </tr>
      </tbody>
    </table>
     <button type="submit" class="govuk-button" data-module="govuk-button">New peer to peer check</button> 
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="callibration">
  
   <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case ID</th>
          <th scope="col" class="govuk-table__header">Check type</th>
          <th scope="col" class="govuk-table__header">Due date</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234567</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">20 November 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Brought forward</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234568</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">5 December 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Potential errors</strong></td>
        </tr>
       <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234569</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">7 December 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Potential errors</strong></td>
        </tr>
      </tbody>
    </table>
     <button type="submit" class="govuk-button" data-module="govuk-button">New callibration check</button> 
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="rework">
   
   <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case ID</th>
          <th scope="col" class="govuk-table__header">Check type</th>
          <th scope="col" class="govuk-table__header">Due date</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234567</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">20 November 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Brought forward</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234568</a></td>
          <td class="govuk-table__cell">Claims maintenance</td>
          <td class="govuk-table__cell">5 December 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Potential errors</strong></td>
        </tr>
       <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#">01234569</a></td>
          <td class="govuk-table__cell">New claim</td>
          <td class="govuk-table__cell">7 December 2024</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Potential errors</strong></td>
        </tr>
      </tbody>
    </table>
 <button type="submit" class="govuk-button" data-module="govuk-button">New rework</button> 
  </div>

</div> 
    
  </div> 
</div> 


{% endblock %}
